div.error_level                   { background-image: url(/images/error.png); }
div.error_level.error             { background-image: url(/images/error.png); }
div.error_level.user_error        { background-image: url(/images/error.png); }
div.error_level.recoverable_error { background-image: url(/images/error.png); }
div.error_level.parse             { background-image: url(/images/error.png); }
div.error_level.core_error        { background-image: url(/images/core.png); }
div.error_level.core_warning      { background-image: url(/images/core.png); }
div.error_level.warning           { background-image: url(/images/warning.png); }
div.error_level.user_warning      { background-image: url(/images/warning.png); }
div.error_level.compile_error     { background-image: url(/images/compile.png); }
div.error_level.compile_warning   { background-image: url(/images/compile.png); }
div.error_level.deprecated        { background-image: url(/images/deprecated.png); }
div.error_level.user_deprecated   { background-image: url(/images/deprecated.png); }
div.error_level.strict            { background-image: url(/images/strict.png); }
div.error_level.notice            { background-image: url(/images/notice.png); }
div.error_level.user_notice       { background-image: url(/images/notice.png); }

span.errorlevel_parse             { color: MediumVioletRed; font-weight: bold; }
span.errorlevel_compile_error     { color: FireBrick; font-weight: bold; }
span.errorlevel_compile_warning   { color: Sienna; font-weight: bold; }
span.errorlevel_core_error        { color: OrangeRed; font-weight: bold; }
span.errorlevel_core_warning      { color: DarkGoldenRod; font-weight: bold; }
span.errorlevel_recoverable_error { color: red; }
span.errorlevel_error             { color: red; }
span.errorlevel_user_error        { font-style: italic; color: red; }
span.errorlevel_warning           { color: maroon; }
span.errorlevel_user_warning      { font-style: italic; color: maroon; }
span.errorlevel_notice            { color: CornflowerBlue ; }
span.errorlevel_user_notice       { font-style: italic; color: CornflowerBlue ;}
span.errorlevel_strict            { color: black; }
span.errorlevel_deprecated        { color: Orange ; }
span.errorlevel_user_deprecated   { font-style: italic; color: Orange; }